* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 120vh;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #272727;
}

header {
    padding: 16px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    background: #272727;
    text-align: center;
    align-items: center;
}

header h1 {
    font-size: 2em;
    padding: 16px;
    margin: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2em;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    max-height: 20%;
}


main {
    display: flex;
    flex-direction: column;
    background-color: #313131;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 2em 6em;
    height: 80%;
    max-height: 100%;
    max-width: 100%;
}

section {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

section p {
    font-size: 1.2em;
    margin: 10px 0;
}

nav {
    display: flex;
    gap: 25px;
    color: #FFFFFF;
    padding: 16px;
    margin: 16px;
}

a {
    color: inherit;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
    margin: 16px 0 40px;
    text-align: center;
}

hr {
  border: none;
  height: 2px;
  background-color: #4d4d4d;
  margin: 20px 0;
}
